.phone{
    padding-bottom: 49px;
}
.title__wrapper{
    max-width: 472px;
}
.phone__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 34px;
}
.text__wrapper{
    max-width: 536px;
}
.phone__text{
    font-size: 13px;
    line-height: 20px;
    color: #515151;
    margin-bottom: 18px;
}
.second__text-wrppaer{
    max-width: 508px;
}
.second__text{
    font-size: 12px;
    line-height: 18px;
    color: #515151;
    margin-bottom: 46px;
}
.phone__link{
    font-size: 16px;
    line-height: 24px;
    background-color:  #dc7000;
    margin-bottom: 66px;
    padding: 13px 44px;
}
@media only screen and (min-width: 768px){
    .phone{
        padding-bottom: 125px;
    }
    .phone__title{
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 43px;
    }
    .phone__text{
        font-size: 17px;
        line-height: 26px;
    }
    .second__text{
        font-size: 17px;
        line-height: 26px;
    }
}
@media only screen and (min-width: 1200px){
    .phone__link{
        margin-bottom: 0;
    }
    .maket{
        height: 488px !important;
    }
}